<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">




<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body block-header">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12">
                                <h2>Data Tables Lookup</h2>
                                <ul class="breadcrumb p-l-0 p-b-0 ">
                                    <li class="breadcrumb-item active">Select IOT device ID and dates to show all data recieved between these times</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <b>From</b>
                        <input type="text" class="form-control datetime" id="dateFrom">
                        <b>To</b>
                        <input type="text" class="form-control datetime" id="dateTo">
                        <br />
                        <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Select Device
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1" id="dropper">
                                </ul>
                        </div>
                        <button class="btn btn-success" id="myButton" onclick="GetAPIData()">Load data table</button>
                        <br />
                        </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Main Table</strong></h2>
                    </div>
                    <div class="body">
                        <div id="maintable"></div>
                    </div>
                    <div class="header">
                            <h2><strong>Table Averages</strong></h2>
                    </div>
                    <div class="body">
                    <div id="averagetable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    
    //global variables and function loaders
    LoadDropDownBox();
    LoadDatePickers();
    var chosenDevice;
    var deviceList = [];
    
    //////////////////////////////////////////////////////////////////////drop down box area
    function LoadDropDownBox(){
        var res3 = "http://127.0.0.1:3000/jwalstab/lookup_devices/"
        $.ajax({
            type: "GET",
            url: res3,
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, status, jqXHR) {
                //creates the links in the dropdown menu
                data.forEach(element => {
                    var newlink = $('<li><a href="#" data-value="action">' + element.devicename + '</a></li>');
                    $('#dropper').append(newlink);
                    deviceList.push(element);
                });
                //adds code to change when device selected
                $(".dropdown-menu li a").click(function(){
                    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                    var selectedvaluefromdropdownbox = $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                    deviceList.forEach(element => {
                        if (element.devicename == selectedvaluefromdropdownbox[0].innerText)
                        {
                            chosenDevice = element.deviceID;
                        }
                    });
                    console.log(chosenDevice);
                    });
            },
            error: function (jqXHR, status) {
                console.log("ERROR");
            }
        });
    }
    
    ///////////////////////////////////////////////////////////////////////////////////////////////////table area
    function crazytable(data){
        //main table creation, link to ext script
    var table = new Tabulator("#maintable", {
        pagination:"local",
        paginationSize:10,
        paginationSizeSelector:[10, 25, 50, 100, 250, 500, 1000],
        autoColumns:true
    });
    
    //average table calculation
    table.setData(data);
    var labels = (Object.keys(data[0]));
    averageData = JSON.parse(JSON.stringify(data[0])); // clone object here
    var counter = 0;
    for (var i = 0; i < data.length; i++) //cycles through all rows pulled from db
    {
        labels.forEach(element => { //cycles through all colums pulled from db
                if (element == "time" || element == "_id"){// loops through all data above, then below adds each element together
                        }
                else{
                    averageData[element] += data[i][element];
                }
            });
    }
    labels.forEach(element => {
        if (element == "time" || element == "_id"){// loops through the averagedata created object to create averages
                        }
                else{
                    averageData[element] = averageData[element] / data.length;
                }
    });
    delete averageData.time;
    delete averageData._id;
    var averagetable = new Tabulator("#averagetable", {
        autoColumns:true
    });
    averageDataArray = [];
    averageDataArray.push(averageData); //table needs an array or some bs to work
    averagetable.setData(averageDataArray);
    }

    //////////////////////////////////////////////////////////////////////////////////////////////load data to table from api area
    function GetAPIData() {
        var packetsToDisplay = 10;
        var fromVal = new Date(document.getElementById("dateFrom").value);
        var toVal = new Date(document.getElementById("dateTo").value);
        var dates = {
            from: fromVal,
            to: toVal
        };
        console.log(dates.to);
        console.log(dates.from);
        console.log(dates);
        //var lgid = document.getElementById('LegioGuardIDText').value;
        var res3 = "http://127.0.0.1:3000/" + chosenDevice + "/betweendates";
        $.ajax({
            type: "POST",
            url: res3,
            data: JSON.stringify(dates),
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, status, jqXHR) {
                GlobalData = [];
                data.forEach(element => {
                    GlobalData.push(element);
                });
                var expressedData = data[0];
                var maxPackets = packetsToDisplay;
                for (var ed = 0; ed < 10; ed++) {
                    const dataCheck = data[ed];
                    if (dataCheck == null) {
                        maxPackets = ed - 1;
                        console.log(maxPackets + "data check phase");
                    }
                }
                var maxPacketsFinal;
                if (maxPackets < packetsToDisplay) {
                    maxPacketsFinal = maxPackets;
                }
                else {
                    maxPacketsFinal = packetsToDisplay;
                }
                ///(((((((((((((((((((((((((((((((())))))))))))))))))))))))))))))))
                if (expressedData != null)
                {
                    //TableAPP(data);
                    crazytable(data);
                }
                else {
                    console.log("EXPRESSED DATA NULL!")
                }
            },
            error: function (jqXHR, status) {
                console.log("ERROR");
            }
        });
    }
    
    //////////////////////////////////////////////////////////////////////////////////////////////load date pickers
    function LoadDatePickers(){
        var fpfrom = flatpickr(document.getElementById('dateFrom'), {
    enableTime: true,
    time_24hr: true,
    dateFormat: "Y-m-d H:i",
});

    var fpto = flatpickr(document.getElementById('dateTo'), {
    enableTime: true,
    time_24hr: true,
    dateFormat: "Y-m-d H:i",
});
    }

</script>