<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>:: Quantum Data Dashboard :: Home</title>
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="assets/plugins/morrisjs/morris.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/color_skins.css">
    <!-- Jquery Core Js -->
    <<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    
    <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
    <!-- <script src="assets/plugins/chartjs/Chart.bundle.js"></script>-->
    <!-- <script src="assets/bundles/Chart.min.js"></script> -->
    <script src="assets/bundles/utils.js"></script>
    <script src="assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/widgets/infobox/infobox-1.js"></script>

    <link href="assets/tabulator.css" rel="stylesheet">
    <script type="text/javascript" src="assets/tabulator.js"></script>

    <link href="assets/scroll.css" rel="stylesheet">
    


</head>

<script>
    var masterURL = "http://165.22.241.11:3000" //CLOUD
    //var masterURL = "http://127.0.0.1:3000" //LOCAL
</script>

<body class="theme-purple">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <p>Quantum Data Loading</p>
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/spinQ.png" width="48" height="48" alt="InfiniO"></div>
            <p>Please standby...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <nav class="top_navbar">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="navbar-logo">
                        <a href="javascript:void(0);" class="bars"></a>
                        <a class="navbar-brand" href="index"><img src="assets/images/Qtmdatawhite.png" width="220" alt="QD">IoT Portal<span class="m-l-10"></span></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="LoadAlarmBell()" role="button"><i class="icon-bell"></i><span class="label-count" id="myspan">0</span></a>
                            <ul class="dropdown-menu">
                                
                                <li class="header" >Alarms Triggered</li>
                                <li class="footer"> <a href="alarms"> Go To Alarms</a> </li>
                                <li class="footer"> <a href="#" onclick="ClearList()"> Clear List</a> </li>
                                <div id="bellMenu">

                                </div>
<!--                                 <li class="body">
                                            <a href="javascript:void(0);">
                                                <div class="media" >
                                                    <div class="media-body">
                                                        <span class="name">No Alerts<span class="time">LegioGuard Systems</span></span>
                                                        <span class="message">All systems operating normally</span>
                                                    </div>
                                                </div>
                                            </a>
                                </li> -->
                                <!-- <li class="footer"> <a href="alarms">Go To Alarms Page</a> </li> -->
                            </ul>
                        </li>
                        <li class="dropdown profile">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="user-info">
                                        <h6 class="user-name m-b-0">Legioguard</h6>
                                    </div>
                                </li>
                                <li><a href="sign-in.html"><i class="icon-power m-r-10"></i><span>Sign Out</span></a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);" class="js-right-sidebar"><i class="icon-equalizer"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <aside id="leftsidebar" class="sidebar h_menu">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="menu">
                        <ul class="list">
                            <li class="header">IOT Device Management</li>
                            <li>
                                <a href="devices" class="Button"><i class="icon-screen-tablet"></i><span>Devices</span></a>
<!--                                 <a href="javascript:void(0);" class="menu-toggle"><i class="icon-screen-tablet"></i><span>IOT</span></a>
                                <ul class="ml-menu">
                                    <li><a href="taskboard.html">IOT Connections Overview</a></li>
                                    <li><a href="register_iot">Add An IOT Device</a></li>
                                    <li><a href="taskboard.html">Remove An IOT Device</a></li>
                                </ul> -->
                            </li>
                            <li class="header">Remote Systems Management</li>
                            <li>
                                <a href="monitor" class="Button"><i class="icon-speedometer"></i><span>Monitor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="Button"><i class="icon-screen-desktop"></i><span>Control</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="icon-bar-chart"></i><span>Data</span></a>
                                <ul class="ml-menu">
                                    <li><a href="data_tables">Tables</a></li>
                                    <li><a href="data_charts">Charts</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="alarms" class="Button"><i class="icon-bell"></i><span>Alarms</span></a>
                            </li>
                            <li class="header">Documentation</li>
                            <li>
                                <a href="javascript:void(0);" class="Button"><i class="icon-notebook"></i><span>Reports</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="icon-map"></i><span>Help</span></a>
                                <ul class="ml-menu">
                                    <li><a href="javascript:void(0);">Email Support</a></li>
                                    <li><a href="javascript:void(0);">Dashboard Documentation</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <div class="slim_scroll">
            <div class="card">
                <h6>Skins</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="purple" class="active">
                        <div class="purple"></div>
                    </li>
                    <li data-theme="blue">
                        <div class="blue"></div>
                    </li>
                    <li data-theme="cyan">
                        <div class="cyan"></div>
                    </li>
                    <li data-theme="green">
                        <div class="green"></div>
                    </li>
                    <li data-theme="orange">
                        <div class="orange"></div>
                    </li>
                    <li data-theme="blush">
                        <div class="blush"></div>
                    </li>
                </ul>
            </div>
            <div class="card theme-light-dark">
                <h6>Theme Option</h6>
                <button class="btn btn-default btn-block btn-round btn-simple t-light">Light</button>
                <button class="btn btn-default btn-block btn-round t-dark">Dark</button>
            </div>
        </div>
    </aside>
    <%- body %>
</body>
</html>

<script>
function ClearList(){
    var clearBellAlarmListURL = masterURL + "/deletebellalarms/jwalstab";
        $.ajax({ type: "GET", url: clearBellAlarmListURL, contentType: "application/json; charset=utf-8", crossDomain: true, dataType: "json",
            success: function (data, status, jqXHR) {
            console.log("alarm bell list cleared!");
            //$("#bellMenu").empty();
            LoadAlarmBell();

            var alarmBellListToClear = document.getElementById("bellMenu");
            while (alarmBellListToClear.firstChild) { alarmBellListToClear.removeChild(alarmBellListToClear.firstChild); }
            },
            error: function (jqXHR, status) {console.log("ERROR");}
        });
}


BellUpdater();

function BellUpdater(){
    LoadAlarmBell();
    setTimeout(BellUpdater, 10000);
}
function LoadAlarmBell(){
    var alarmbellURL = masterURL + "/triggeredbellalarmlist/jwalstab/";
        $.ajax({ type: "GET", url: alarmbellURL, contentType: "application/json; charset=utf-8", crossDomain: true, dataType: "json",
            success: function (data, status, jqXHR) {
                if (data != null)
                {
                    var alarmBellListToClear = document.getElementById("bellMenu");
                    while (alarmBellListToClear.firstChild) { alarmBellListToClear.removeChild(alarmBellListToClear.firstChild); }
                    var bellCount = 0;
                    data.forEach(element => {
                        bellCount ++;
                        var jsTime = new Date(element.alarmTriggeredAt);
                        let hoursDiff = jsTime.getHours() + jsTime.getTimezoneOffset() / 60;
                        let minutesDiff = (jsTime.getMinutes() + jsTime.getTimezoneOffset()) % 60;
                        jsTime.setHours(hoursDiff + 1);
                        jsTime.setMinutes(minutesDiff);
                        var bellAlertTime = jsTime.toLocaleString();
                        var newAlert = $('<li class="body"> <div class="media" id="bellMenu"> <div class="media-body"> <span class="name">' + element.deviceName + '<span class="time">' + bellAlertTime +'</span></span> <span class="message">' + element.alarmName + '</span> </div> </div> </li>');
                        $('#bellMenu').append(newAlert);
                    });
                    document.getElementById("myspan").textContent=bellCount;
                }
                else {console.log("EXPRESSED DATA NULL!")}},
            error: function (jqXHR, status) {console.log("ERROR");}
        });
}
</script>




                
            
        
