<!doctype html>
<html class="no-js " lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

<title>:: Quantum Data Dashboard :: Home</title>
<!-- Favicon-->
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">

<!-- Custom Css -->
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/color_skins.css">
</head>

<script>
    //var masterURL = "http://165.22.241.11:3000" //CLOUD
    var masterURL = "http://127.0.0.1:3000" //LOCAL
</script>

<body class="theme-purple">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <p>Quantum Data Loading</p>
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/spinQ.png" width="48" height="48" alt="InfiniO"></div>
            <p>Please standby...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <body class="theme-purple">
            <!-- Page Loader -->
            <div class="page-loader-wrapper">
                <div class="loader">
                    <p>Quantum Data Loading</p>
                    <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/spinQ.png" width="48" height="48" alt="InfiniO"></div>
                    <p>Please standby...</p>
                </div>
            </div>
            <!-- Overlay For Sidebars -->
            <div class="overlay"></div>
        
            <!-- Top Bar -->
            <nav class="top_navbar">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="navbar-logo">
                                <a href="javascript:void(0);" class="bars"></a>
                                <a class="navbar-brand" href="index"><img src="assets/images/Qtmdatawhite.png" width="220" alt="QD"><span class="m-l-10"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        
            <!-- Right Sidebar -->
            <aside id="rightsidebar" class="right-sidebar">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>Skins</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple" class="active">
                                <div class="purple"></div>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                            </li>
                            <li data-theme="cyan">
                                <div class="cyan"></div>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                            </li>
                            <li data-theme="blush">
                                <div class="blush"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="card theme-light-dark">
                        <h6>Theme Option</h6>
                        <button class="btn btn-default btn-block btn-round btn-simple t-light">Light</button>
                        <button class="btn btn-default btn-block btn-round t-dark">Dark</button>
                    </div>
                </div>
            </aside>
            <%- body %>
        </body>
        </html>
            

<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script>
