<section class="content">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body block-header">
                            <div class="row">
                                    <div class="col-lg-6 col-md-8 col-sm-12">
                                        <h2>Login Page</h2>
                                        <ul class="breadcrumb p-l-0 p-b-0"  id="responsebody">
                                        Please enter your username and password below to continue to the portal
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inline Layout -->
            <!-- VIEW ALARMS SECTION-->
            <div class="row clearfix">
                        <div class="col-4 mx-auto">
                    <div class="card">
                        <div class="header">
                            <h2><strong></strong></h2>
                            <div class="form-group">
                                    <input type="text" id="usernamebox" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                    <input type="password" id="passwordbox" class="form-control" placeholder="Password"">
                            </div>
                            <button class="btn btn-success" id="loginbutton" onclick="Redirect()">Sign in</button>
                        </div>
                    </div>
                    </div>
                </div>
    </section>

<script>
function Redirect() {
    var username = document.getElementById('usernamebox').value;
    var password = document.getElementById('passwordbox').value;
    if (username == "Legioguard" && password == "Quantum4277"){
        var myNode2 = document.getElementById("responsebody");
        while (myNode2.firstChild) {
            myNode2.removeChild(myNode2.firstChild);
        }
        var rbody = $('<p>Login Sucessful! Please stand by...</p>');
        $('#responsebody').append(rbody);c
        window.location="index";
    }
    else{
        var myNode2 = document.getElementById("responsebody");
        while (myNode2.firstChild) {
            myNode2.removeChild(myNode2.firstChild);
        }
        var rbody = $('<p>Login Failed! The username or password you entered was incorrect</p>');
        $('#responsebody').append(rbody);
    }
}
setTimeout('Redirect()', 3000);
</script>