<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body block-header">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12">
                                <h2>IoT Device Management Area</h2>
                                <ul class="breadcrumb p-l-0 p-b-0 ">
                                    <li class="breadcrumb-item active">Register new IOT devices here to link to your Quantum portal account</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inline Layout -->
        <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Add new IoT device</strong></h2>
                        </div>
                        <div class="body">
                                <div class="row clearfix">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" id="deviceid" class="form-control" placeholder="IoT Device Broadcast ID" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" id="devicename" class="form-control" placeholder="Friendly Device Name" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <input type="text" id="devicenotes" class="form-control" placeholder="Device Notes">
                                                </div>
                                        </div>
                                            <button class="btn btn-raised btn-primary btn-round waves-effect" onclick="doshit()" type="submit">SUBMIT</button>
                                </div>
                        </div>

                    </div>
                    <div class="card">
                            <div class="header" id="responseheader">
                                </div>
                                <div class="body" id="responsebody">
                                </div>
                    </div>
                </div>
        </div>         
</section>



<script>
    function doshit(){

    var loggedonuser = "jwalstab";
    var idstring = document.getElementById('deviceid').value;
    var id = parseInt(idstring);
    var name = document.getElementById('devicename').value;
    var notes = document.getElementById('devicenotes').value;
    console.log(id);
    console.log(name);
    console.log(notes);
    var success = true;
    if (success = true)
    {

    }
    var lookupurl = "http://127.0.0.1:3000/" + loggedonuser + "/lookup_devices/"
        $.ajax({type: "GET", url: lookupurl, contentType: "application/json; charset=utf-8", crossDomain: true, dataType: "json", 
        success: function (data, status, jqXHR) {
                var exists = false;
                data.forEach(element => {
                    if (element.deviceID == id || element.devicename == name)
                    {
                        exists = true;
                    }
                });
                if (exists == true){DisplayResult("exists");}
                else{RegisterToDB(id,name,notes,loggedonuser);}
            },
            error: function (jqXHR, status) {
                console.log(jqXHR, status);
                DisplayResult("error",jqXHR)
            }
        });
    }
</script>

<script>
    function RegisterToDB(id,name,notes,loggedonuser) {
        var objtopost = {
                deviceID: id,
                devicename: name,
                devicenotes: notes
            };
        var registerurl = "http://127.0.0.1:3000/" + loggedonuser + "/register_device/"
        $.ajax({
            type: "POST",
            url: registerurl,
            data: JSON.stringify(objtopost),
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, status, jqXHR) {
                DisplayResult("added");
            },
            error: function (jqXHR, status) {
                DisplayResult("error",jqXHR);
            }
        });
    }
</script>


<script>
function DisplayResult(result, errdetails){

    //clear the header and body of results
    var myNode = document.getElementById("responseheader");
    while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
    }
    var myNode2 = document.getElementById("responsebody");
    while (myNode2.firstChild) {
    myNode2.removeChild(myNode2.firstChild);
    }

    var resultid = document.getElementById('deviceid').value;
    var resultname = document.getElementById('devicename').value;
    var resultnotes = document.getElementById('devicenotes').value;

    if (result == "exists")
    {
        var rheader = $('<h2><strong>IoT device already exists</strong></h2>');
        var rbody = $('<p>Either the device ID of ' + resultid + ' or the device name of ' + resultname + ' is already in use, please choose a unqiue name or ID for your IoT device</p>');
    }
    if (result == "added")
    {
        var rheader = $('<h2><strong>IoT device registration successful</strong></h2>');
        var rbody = $('<p>IoT device was sucessfully registered under the ID ' + resultid + ' and will be displayed on the portal as ' + resultname + '</p>');
    }
    if (result == "error")
    {
        var rheader = $('<h2><strong>IoT registration error</strong></h2>');
        var rbody = $('<p>The API server came back with the following error:' + errdetails + '</p>');
    }
    $('#responseheader').append(rheader);
    $('#responsebody').append(rbody);
}
</script>